#output-box {
  width: auto;
  height: 240px;
  padding: 4px 2px 4px 2px;
  resize: vertical;
  border: none;
  color: black;
  background-color: rgb(200, 200, 200);
  overflow: auto;
}
#input-box {
  position: relative;
  height: 1.5em;
  top: 2px;
}
#input-message {
  width: auto;
  height: 100%;
  margin-right: 6em;
  padding-right: 6px;
}
#input-send {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6em;
  height: 100%;
}
#message {
  width: 100%;
  height: 100%;
  padding: 0px 2px 0px 2px;
  border: none;
  border-radius: 0;
  color: black;
  background-color: rgb(200, 200, 200);
  font: 16px pixel, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, sans-serif;
}
#message:focus {
  outline: 1px solid royalblue;
}
#send {
  width: 100%;
  height: 100%;
}
