#output-box {
  width: 100%;
  height: 240px;
  padding: 4px 0px 4px 0px;
  resize: vertical;
  border: none;
  color: #ffffff;
  background-color: #1e1e1e;
  overflow: auto;
}
#input-box {
  position: relative;
  height: 2.5em;
}
#input-message {
  width: auto;
  height: 100%;
  margin-right: 10em;
  padding-right: 10px;
}
#input-send {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  height: 100%;
}
#message {
  width: 100%;
  height: 100%;
  padding: 0;
}
#message:focus {
  outline: 1px solid royalblue;
}
#send {
  width: 100%;
  height: 100%;
}
