@font-face {
  font-family: 'pixel';
  src: url('fonts/pixel.woff') format('woff'),
    url('fonts/pixel.ttf') format('truetype');
  font-smooth: never;
  -webkit-font-smoothing : none;
}
@font-face {
  font-family: 'pixel-cn';
  src: url('fonts/pixel-cn.ttf') format('truetype');
  font-smooth: never;
  -webkit-font-smoothing : none;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('imgs/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  font: 1em pixel, pixel-cn, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, sans-serif;
}
table, th, td {
  border: 1px black solid;
  border-collapse: collapse;
}
h2 {
  font-size: 2em;
}
a:link,
a:visited {
  color: #69c;
  text-decoration: none;
}
.page {
  width: 750px;
  margin: 2em auto;
  border: 40px solid transparent;
  border-image: url('imgs/window.png') 40 stretch;
  -webkit-border-image: url('imgs/window.png') 40 stretch;
  padding: 0;
  background-color: white;
  image-rendering: pixelated;
}
.title {
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
}
.content {
  position: relative;
  image-rendering: auto;
}
.hr {
  width: 50%;
  height: 1px;
  margin: 0px auto 20px auto;
  border: 0;
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
}
.entry-box {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.entry-box a {
  text-align: center;
}
.entry-img {
  max-width: 100%;
  object-fit: contain;
  margin-top: 2rem;
  border-radius: 8px;
}
.entry-content0 h2 {
  display: inline;
  margin: 10px 0px 10px 0px;
  border-bottom: 0.15rem solid #8cd612;
  font-size: 1em;
  padding-left: 1.5rem;
  background-image: url(imgs/link.svg);
  background-position-y: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.entry-content1 h2 {
  display: inline;
  margin: 10px 10px 0px 0px;
  border-bottom: 0.15rem solid #8cd612;
  font-size: 1em;
  padding-left: 1.5rem;
  background-image: url(imgs/link.svg);
  background-position-y: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.entry-content2 h2 {
  display: inline;
  margin: 10px 10px 0px 0px;
  border-bottom: 0.15rem solid #8cd612;
  font-size: 1em;
  padding-left: 1.5rem;
  background-image: url(imgs/link.svg);
  background-position-y: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.entry-content3 h2 {
  display: inline;
  margin: 10px 10px 0px 0px;
  border-bottom: 0.15rem solid #8cd612;
  font-size: 1em;
  padding-left: 1.5rem;
  background-image: url(imgs/link.svg);
  background-position-y: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.entry-content0 p {
  margin: 10px 0px 10px 0px;
}
.entry-content1 p {
  margin: 10px 10px 0px 0px;
}
.entry-content2 p {
  margin: 10px 10px 0px 0px;
}
.entry-content3 p {
  margin: 10px 10px 0px 0px;
}
.box {
  width: 640px;
  height: auto;
}
.button {
  width: 12em;
  border: 0;
  border-radius: 2px;
  border-color: black;
  padding: 0;
  background: rgb(233, 233, 233);
  font: 16px pixel, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, sans-serif;
}
.button:hover {
  background: rgb(211, 211, 211);
  box-shadow: 0px 0px 1px #777;
}
.more {
  display: inline-block;
  width: 100%;
  max-height: 40px;
  position: relative;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom, transparent, rgba(165, 165, 165, 0.9)); */
}
.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  image-rendering: pixelated;
}
.sidebar {
  position: absolute;
  top: 0;
  right: 425px;
  z-index: 1;
  width: 90px;
  margin: 2em auto;
  border: 40px solid transparent;
  border-image: url('imgs/popup.png') 40 stretch;
  -webkit-border-image: url('imgs/popup.png') 40 stretch;
  padding: 0;
  background-color: white;
}
.sidebar a {
  display: block;
}
.sidebar p {
  top: -3.4em;
}
.label {
  padding: 0px 4px;
  border-radius: 2px;
  color: white;
  background-color: #ffa500;
}
.link {
  color: #69c;
  text-decoration: none;
  cursor: pointer;
}
.store {
  width: 130px;
  height: 40px;
}
.store-frame-steam {
  width: 552px;
  height: 190px;
}
.store-frame-itch {
  width: 552px;
  height: 167px;
}
#container {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}
#left {
  display: inline-block;
  width: 72px;
  vertical-align: middle;
}
#right {
  display: inline-block;
  height: 72px;
  left: 80px;
  position: absolute;
}
#avatar {
  width: 72px;
  height: auto;
  border-radius: 50%;
}
@media (min-width: 870px) {
  .entry-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }
  .entry-box a {
    width: 444px;
  }
  .entry-img {
    margin-top: 0;
  }
  .entry-content {
    max-width: 305px;
  }
  .entry-content2 {
    order: 1;
  }
  .entry-content2 h2 {
    margin: 10px 0px 0px 10px;
  }
  .entry-content2 p {
    margin: 10px 0px 0px 10px;
  }
}
@media (max-width: 870px) {
  body {
    background-color: white;
  }
  .page {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 0;
    border-image: url('imgs/window-portrait.png') 40 stretch;
    -webkit-border-image: url('imgs/window-portrait.png') 40 stretch;
  }
  .title {
    position: absolute;
    top: -1em;
    left: 0;
    width: 100%;
  }
  .content {
    margin: -20px -36px -20px -36px;
  }
  .box {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .store-frame-container {
    display: block;
    width: 100%;
    height: auto;
  }
  .store-frame-steam {
    max-width: 100%;
  }
  .store-frame-itch {
    max-width: 100%;
  }
  #container {
    padding-bottom: 32px;
  }
}
@media (max-width: 1205px) {
  .sidenav {
    display: none;
  }
}
