@font-face {
  font-family: 'pixel';
  src: url('fonts/pixel.woff') format('woff'),
    url('fonts/pixel.ttf') format('truetype');
  font-smooth: never;
  -webkit-font-smoothing : none;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('imgs/background.png');
  background-repeat: repeat;
  background-attachment: fixed;
  font: 16px pixel,sans-serif;
}
h2 {
  font-size: 24px;
}
a:link,
a:visited {
  color: #69c;
  text-decoration: none;
}
.page {
  width: 750px;
  margin: 2em auto;
  border: 40px solid transparent;
  border-image: url('imgs/border.png') 40 stretch;
  -webkit-border-image: url('imgs/border.png') 40 stretch;
  padding: 0;
  background-color: #fff;
}
.title {
  position: absolute;
  top: 0.99em;
  left: 0;
  width: 100%;
}
.content {
  position: relative;
}
.hr {
  width: 50%;
  height: 1px;
  margin: 0 auto;
  margin-top: 40px;
  border: 0;
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
}
.box {
  width: 640px;
  height: auto;
}
.box-small {
  width: 128px;
}
.button {
  width: 12em;
  border-radius: 2px;
  border-color: black;
  padding: 0;
  background-color: white;
  font: 16px pixel,sans-serif;
}
.button:hover {
  background: rgb(211, 211, 211);
  box-shadow: 0px 0px 1px #777;
}
.more {
  display: inline-block;
  width: 100%;
  max-height: 40px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, transparent, rgba(165, 165, 165, 0.9));
}
.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 100%;
  width:100%;
  padding-bottom: 10px;
}
#left {
  display: inline-block;
  width: 72px;
  vertical-align: middle;
}
#right {
  display: inline-block;
  height: 72px;
  left: 80px;
  position: absolute;
}
#avatar {
  width: 72px;
  height: auto;
  border-radius: 50%;
}
@media (max-width: 870px) {
  body {
    background-color: #fff;
  }
  .page {
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    padding: 0;
  }
  .title {
    position: absolute;
    top: -1.01em;
    left: 0;
    width: 100%;
  }
  .box {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #container {
    padding-bottom: 32px;
  }
}
