body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background: rgba(59, 111, 223, 0.308);
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: normal;
}
p {
  overflow: scroll;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fbfbfb;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), -4px 4px 8px rgba(60, 64, 89, 0.65);
  z-index: 1;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fbfbfb;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), -4px 4px 8px rgba(60, 64, 89, 0.65);
  z-index: 1;
}
.tips {
  position: absolute;
  bottom: 20px;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fbfbfb;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), -4px 4px 8px rgba(60, 64, 89, 0.65);
  z-index: 1;
}
.table {
  display: flex;
  margin: 10px;
}
.cover {
  min-width: 100px;
  max-width: 500px;
  width: 30%;
  margin: 5px;
  text-align: center;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fbfbfb;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), -4px 4px 8px rgba(60, 64, 89, 0.65);
}
.cover a {
  color: #fbfbfb;
}
.cover img {
  width: 100%;
}

#canvas {
  display: block;
}
